*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
body{
    font-family: 'Garlic Salt', sans-serif;
                                                

}

/* todas las clases hablamos de los contenedores*/
.contenedor{
    padding: 60px 0;
    /* bordes de arriba y abajo tengan 60px*/
    width: 90%;
    max-width: 1000;
    margin: auto;
    overflow: hidden;

}
.titulo{
    color: rgb(241, 135, 13);
    font-size: 50px;
    text-align: center;
    margin-bottom: 70px;
    background-color: black;
    max-width: 100%;
}
/*header*/
header{
    width: 100%;
    height: 970px;
background: url(../img/capoeira_header.jpg);
/*Ruta para insertar imagen, tener en cuenta los dos puntos*/
/*background-size: cover;*/
background: relative;
background: attachments;
position: relative;
}
.textos-header{
display: flex;
height: 100px;
width: 100%;
align-items:center;
justify-content: center;
flex-direction: column;
text-align: center;    
}
.textos-header h1{
    font-size: 50px;
    color: rgb(255, 187, 1);
}
.textos-header h2{
    font-size: 40px;
    font-weight:300;
    color: rgb(255, 73, 49);
}
nav{
    text-align: left;
    padding: 30px ;
    
}
nav>a{
    color: rgba(255, 255, 255, 0.877);
    font-size: large;
    font-weight: 300;
    margin-right: 10px;
     background: rgb(230, 157, 0);
  
    border-radius: 100px;
    display: inline-block;
    text-align: center;
    width: 100px;
    padding: 2px;
  
}
nav>a:hover{
    color: black;
text-decoration: underline;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
    
    /*colocamos la ola de manera fija, puede igualarse el color, a mi no me late */
}

.contenedor-sobre-nosotros{
    display: block;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
 
    /*repartiendo espacio*/

}
.contenedor-sobre-nosotros>img{
    display: block;
    margin: auto;
}

.sobre-nosotros- .contenedor-textos{
    width: 45%;
    color: aliceblue;
   
}
.contenedor-textos h3{
    text-align: center;
    color: aliceblue;
    margin-bottom: 15px;
}

.contenedor-textos h3 span{
    background: rgb(255, 124, 2);
    color: rgb(126, 248, 44);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    padding: 2px;
    margin-right: 10px;


}
.contenedor-textos p{
    color: aliceblue;
    padding:  15px 30px 30px 30px;
    font-weight: 500;
    font-size: large;
    text-align: justify;
}
/*galeria*/
.portafolio{
    background-color: rgb(0, 0, 0);

}
.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* para qye se junten todas las fotos*/
}

.imagen-about-us{
    width: 45%;
}
.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.imagen-port>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* cuando tenemos un poco de error jaja*/
    display: block;

}
.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background-color: rgb(0, 0, 0);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}
.hover-galeria img{
 width: 50px;

}
.hover-galeria p{
    color: rgb(255, 255, 255);
}
.imagen-port:hover .hover-galeria{
    transform: scale(1);
    
}
.clientes-contenedor{
    background-color: black;
}
.cards{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}
.cards .card{
  background: rgb(78, 97, 99);
  display: flex;
  width: 46%;
  height: 200px;
  align-items: center;
 justify-content: space-evenly;
 border-radius: 5px;

}
.cards .card>.contenido-texto-card{
    width: 60%;
    color: rgb(255, 255, 255);


}
.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid rgb(245, 225, 46)
    ;
}

.about-services{
background-color: rgb(0, 0, 0);
padding-bottom: 30px;

}
.servicios-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.servicio-ind{
    width: 28%;
    text-align: center;

}
.servicio-ind img{
    width: 60%;
}
.servicio-ind h3{
    color: aliceblue;
    margin: 10px;
}
.servicio-ind p{
    color: rgb(253, 253, 253);
    font-weight: 300;
text-align: justify;    
}
.contenedor-footer{
    background-color: rgba(106, 107, 90, 0.452);
    padding: 60px 30px 0;
    margin: auto;
    overflow: hidden;
    
}
.contenedor-footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 10px solid rgb(146, 18, 108);
}
.content-foo img{clear: both;
    width: 100px;
    padding: 18px 0px;

}
.content-foo h4{
    color: rgb(204, 44, 44);
    border-bottom:  2px solid rgb(16, 19, 230);
    padding-bottom: 10px;
    margin-bottom: 10px;


}
.content-foo p{
color: rgb(0, 3, 194);
}
.titulo-final{
    text-align: center;
    font-size: 25px;
    margin: 20px 0 0 0;
    color: rgb(247, 37, 0);

}
.container mt.3{
    background-color: black;
}